@model WA_Chamba.detalleServicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>detalleServicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cantidadcomentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidadcomentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen.ruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen.ruta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.persona.idDistrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.persona.idDistrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicio.nombreServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicio.nombreServicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idDetalleServicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
