@model IEnumerable<WA_Chamba.detalleServicio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cantidadcomentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen.ruta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persona.idDistrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.servicio.nombreServicio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadcomentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagen.ruta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.persona.idDistrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.servicio.nombreServicio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDetalleServicio }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDetalleServicio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDetalleServicio })
        </td>
    </tr>
}

</table>
